:root {
  /* COLORS */
  --pearly: #FFFFFF;
  --blackish:  #19161E;
  --purpretty: #9439EF;

   /* FONT */
  --round-border: 0.8rem;
  --paragraph-margin: 1.25rem;
  --border-width: 0.15rem;

  --title: "Overlock";
  --subtitle: "Overpass";
  --body: "Nunito Sans";

  --body-size: 1em;
  --subtitle-size: 1.25em;
}

/* MEDIA QUERIES */


@media (max-width: 1010px){

}

@media (max-width: 850px){ 

  header{
    position: absolute
  }

  .header-parent{
    justify-content: start;
    align-items: start;
  }

  body{
    padding-top: 12rem;
  }

  .dropdown-menu,
  .dropdown-toggle{
    visibility: visible;
  }

  .mode-toggle{
    display: none;
  }

  nav{
    display: none;
  }

  .social-media-black{
    margin-bottom: 1rem;
  }
}

@media (max-width: 769px){

/* LANDING */

  main,
  header{
    min-width: 0;
  }

  nav{
    display: none;
  }

  .landing-parent{
    flex-direction: column;
  }

  .landing-left, .landing-right{
    width: 100%;
  }

  .landing-right{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2rem;
  }

  .demo-dl{
    font-size: .8em;
  }

  .demo-container{
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }

  .demo-title{
    margin-left: 0;
    margin-right: 1rem;
  }

  .ctrl-btn{
    margin-right: .4rem;
  }
  
  .demo-accent{
    left: 32%;
    
  }

  /* STUDIO */

  .studio--wrapper,
  .contact--wrapper{
    height: 100%;
    width: 100%;

    padding: 1rem;

    background-color: var(--purpretty);
  }

  .studio-parent{
    height:  100%;

    flex-direction: column;
  }

  .studio-container{
    min-width: 18rem;
    padding: 1rem 1rem .6rem 1rem;
  }

  .about-parent{
    height:  100%;

    flex-direction: column;
    gap: 1rem;
  }
}


@media (max-width: 480px){

  body{
    height: 100%;
    padding-top: 12rem;
  }

  .demo-container{
    width: 18rem;
  }

  .demo-accent{
    left: 20%;
  }

  .social-media{
    display: flex;
    justify-content: center;
  }

  .studio-container{
    min-width: 18rem;
  }

  .form-left{ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  form{
    max-width: 100%;
    min-width: 100%;
  }

  .social-media-black{

    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    }

  footer{
    font-size: .9em;
    padding: 1rem;
    text-align: center;
  }

  .demo-title{
    padding-right: 1rem;
  }

  .dropdown-menu{
    top: 1rem;
    left: 1rem;
    right: 1rem;
    width: unset;
  }
}

